<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        ABCD Quiz system
      </a>
    </div>
  </div>
</nav>
<h1>チーム名：<%= cookies[:tean_name] %></h1>
<h1>回答を選択してください</h1>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 text-center"><a href="answer/1"><img src="/images/1.png" style="zoom: 2;"></a></div>
    <div class="col-sm-6 text-center"><a href="answer/2"><img src="/images/2.png" style="zoom: 2;"></a></div>
  </div>
  <div class="row">
    <div class="col-sm-6 text-center"><a href="answer/3"><img src="/images/3.png" style="zoom: 2;"></a></div>
    <div class="col-sm-6 text-center"><a href="answer/4"><img src="/images/4.png" style="zoom: 2;"></a></div>
  </div>
</div>
