<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        ABCD Quiz system
      </a>
    </div>
  </div>
</nav>
<h1>チーム名を入力してください</h1>
<form action="button" name="team">
team name:<input type="text" name="teamname" class="form-control input-lg" placeholder="Your team name">
<input type="submit" value="login">
</form>
